<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Đồ án-Ứng dụng phân tán</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <style>
      body {
        background-image: url("img/BG.jpg"); 
        background-repeat: no-repeat;
      }
  </style>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!--Navbar-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Main-Menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span> 
          </button>
          <a href="" class="navbar-brand">Blog 3T</a>
        </div>

        <div class="navbar-collapse collapse" id="Main-Menu">
          <ul class="nav navbar-nav pull-right">
            <li><a href="Home">Trang chủ</a></li>
            <li><a href="ListBlog">Bài blog</a></li>
            <li><a href="WriteBlog">Viết Blog</a></li>
            <li><a href="Login">Đăng nhập</a></li>
            <li><a href="SignUp">Đăng kí</a></li>
            <li><a href="Contact">Liên hệ</a></li>
            <li><a href="#">Thoát</a></li>
          </ul>
        </div>
        <!--End Navbar-->
      </nav>
    </div></br> </br></br>
    <!--Table-->
    <div class="container">
       <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-list"></span> A</div>
                <textarea cols="115" rows="20"  readonly="true" style="width: 100%"></textarea>
            </div>
            </div>
            <legend><h3 style=" color:    #00CED1; font-size: 20px"><i><strong>Bình luận<strong></strong></i>
                   <button type="button" class="btn btn-warning" style="width: 150px; font-size: 15px;color: red;">Đánh giá <span class="glyphicon glyphicon-pencil"></span> </button>
                    <button type="button" class="btn btn-warning" style="width: 150px; font-size: 15px;color: red;">Báo cáo vi phạm <span class="glyphicon glyphicon-flag"></span> </button>
            </h3></legend>

              <textarea cols="80" rows="3"  style="width: 100%"></textarea>
              <button type="button" class="btn btn-warning" style="width: 150px; font-size: 15px;color: red;">Gửi bình luận <span class="glyphicon glyphicon-pencil"></span> </button>

            </div>
            </div>

            
  <div class = "form-group col-md-offset-4" >
        <p style="color: red">Blog 3T group @ Copyright by Tran Quang Tin, Nguyen Minh Tu, Pham Ngoc Thien </p>
      </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">  
    </script>
  </body>
</html>