    <!--Table-->
    <div class="container">
       <div class="row">
        <div class="col-md-12">
          <div class="panel panel-danger">
            <div class="panel-heading" style="font-size: 20px;">A</div>
                <textarea cols="115" rows="20"  readonly="true" style="width: 100%"></textarea>
            </div>
            </div>
            <legend><h3 style=" color:    #00CED1; font-size: 20px"><i><strong>Bình luận<strong></strong></i>
                   <button type="button" class="btn btn-warning" style="width: 150px; font-size: 15px;color: red;">Đánh giá <span class="glyphicon glyphicon-pencil"></span> </button>
                    <button type="button" class="btn btn-warning" style="width: 150px; font-size: 15px;color: red;">Báo cáo vi phạm <span class="glyphicon glyphicon-flag"></span> </button>
            </h3></legend>

              <textarea cols="80" rows="3"  style="width: 100%"></textarea>
              <button type="button" class="btn btn-warning pull-right" style="width: 140px; font-size: 15px;color: red; position: pull-right">Gửi bình luận <span class="glyphicon glyphicon-pencil"></span> </button>
         <legend></legend>
         <img src="img/1.png">
        <textarea cols="110" rows="2" readonly="true" style="color: black; font-size: 15px">Rất hay !</textarea>
        </div>
            </div>
            </div>
</div>
