
      <div class="container">
       <div class="row">
       <div class="col-md-11">
       <legend><h3 class="text-center" style="color:    #FFFF00"><strong><span class="glyphicon glyphicon-send"></span> Liên hệ</strong></h3></legend>
        <div class="col-md-5">
           
       <form name ="frmLienHe" method = "GET">
        <li style="font-size: 15px; color:  #FFFF00"><strong>Họ tên:</strong></br> <input type="text" name="txtHoTen" size="30"  maxlength="50" tabindex="1" placeholder ="Nhập họ tên.."></input></li></form>

     

      <form name ="frmSoDienThoai" method = "GET">
        <li style="font-size: 15px; color:  #FFFF00"><strong>Số điện thoại:</strong></br><input type="text" name="txtSDT" size="30" maxlength="50" tabindex="3" placeholder ="Nhập SĐT..."></input></li></form>
    
     <li style="font-size: 15px; color:  #FFFF00"><strong>Nội dung:</strong></li>
        <textarea cols="65" rows="7" name ="ND0" tabindex="4" wrap="off">
        </textarea>
        </br></br> 

         <input type="submit" name = "btnSM" style="width: 68px;height: 30px;background: url('img/Submit.gif') center no-repeat" value=" "></input>
        </div>


        <div class="col-md-5">
         <form name ="frmEmail" method = "GET">
        <li style="font-size: 15px; color:  #FFFF00"><strong>Email:</strong></br> <input type="text" name="txtEmail" size="30"  maxlength="50" tabindex="2" placeholder ="Nhập Email..."></input></li>
      </form>
         <li style="font-size: 15px; color: #FFFF00"><strong>Quận Thành phố:</strong></br>
        <select name = "TinhThanh" id = "SizeForm" style="color: #000080">
          <optgroup label="TPHCM">
            <option value="Q1"> Quận 1 - TPHCM</option>
            <option value="Q5"> Quận 5 - TPHCM</option>
          </optgroup>

          <optgroup label="Hà Nội">
            <option value="QBD"> Quận Ba Đình - Hà Nội</option>
            <option value="QHK"> Quận Hoàn Kiếm - Hà Nội</option>
          </optgroup>

          <optgroup label="Đà Nẵng">
            <option value="QST"> Quận Sơn Trà - Đà Nẵng</option>
            <option value="QTK"> Quận Thanh Khuê - Đà Nẵng</option>
          </optgroup>
        </select>
        </li>
        </form>

       
          </div>
          </div>
</div>
      </form>
</br>