

    <!--Table-->
    <div class="jumbotron">
      <!--Hình lớn-->
      <div class="container">
       <div class="row">
        <div class="col-md-6">
          <legend><h1 style=" color:    #00CED1; font-size: 40px"><i><strong>Blog 3T<strong></strong></i></h1></legend>
          <h2 class="text-center" style=" color: #000080; font-size: 25px"><i><strong>Nếu bạn có tâm sự mà không biết nói cùng ai. Vậy hãy viết ra tâm sự của mình nhé! <strong></strong></i></h2>
          <button type="button" class="btn btn-warning" style="width: 210px; height: 60px;font-size: 20px;color: red">
          <a href="WriteBlog" style="text-decoration: none;font-size: 20px;color: red">Viết Blog </a><span class="glyphicon glyphicon-pencil"></span> </button>
        </div>
      </div>
    </div>
  </div>


      
