

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Đồ án-Ứng dụng phân tán</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
	<style>
		body {
        background-image: url("img/BG.jpg"); 
        background-repeat: no-repeat;
      }
	</style>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!--Navbar-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Main-Menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span> 
          </button>
          <a href="" class="navbar-brand">Blog 3T</a>
        </div>

        <div class="navbar-collapse collapse" id="Main-Menu">
          <ul class="nav navbar-nav pull-right">
            <li><a href="Home">Trang chủ</a></li>
            <li><a href="ListBlog">Bài blog</a></li>
            <li><a href="WriteBlog">Viết Blog</a></li>
            <li><a href="Login">Đăng nhập</a></li>
            <li><a href="SignUp">Đăng kí</a></li>
            <li><a href="Contact">Liên hệ</a></li>
          </ul>
        </div>
        <!--End Navbar-->
      </nav>
    </div></br> </br></br>
    <!--Nội dung-->
    <div class="container">
    	<div class="row">
    		<div class="col-md-3">
    		<div class="panel panel-primary">
    			<div class="panel-heading"><span class="glyphicon glyphicon-list"></span> Top 5 Blogger trong tuần</div></br>
    				<!-- Danh sách 5 Blogger -->
    				<ul  style="list-style-type: circle;">
    					<!--Button tao tin nhắn-->
    					<li><p >A </p></li>
    					<li><p>B </p></li>
    					<li><p>C</p> </li>
    					<li><p>D</p></li>
    					<li><p>F</p></li>
    				</ul>
				</div>

    			<div class="panel panel-primary">
    			<div class="panel-heading"><span class="glyphicon glyphicon-list"></span> Top 10 bài Blog hay nhất tuần</div></br>

    				<!-- Danh sách 10 bài Blog -->
    				<ul  style="list-style-type: circle;">
    					<!--Button tao tin nhắn-->
    					<li><p>A</p></li>
    					<li><p>B </p></li>
    					<li><p>C</p> </li>
    					<li><p>D</p></li>
    					<li><p>F</p></li>
    					<li><p >A </p></li>
    					<li><p>B </p></li>
    					<li><p>C</p> </li>
    					<li><p>D</p></li>
    					<li><p>F</p></li>
    				</ul>
    			</div>
    		</div>

    	<div class="col-sm-3">
      <div class="thumbnail" style="height: 150;width: 270px">
        <img src="/img/2.jpg" style="height: 100px;">
        <div class="caption">
          <h3 style="color: red;background: #FFFF00"><strong>A</strong></h3>
          <p>Bài viết A</p>
			<p><a href="BlogA" class="btn btn-link" role="button">Xem tiếp</a> </p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/3.jpg"  style="height: 100px;">
          <div class="caption">
            <h3 style="color: blue;background: #FFFF00"><strong>B</strong></h3>
            <p>Bài viết B</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>C</strong></h3>
            <p>Bài viết C</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
        </div>



    	<div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>D</strong></h3>
            <p>Bài viết D</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
              </div>

<div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>E</strong></h3>
            <p>Bài viết E</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
              </div>

              <div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>F</strong></h3>
            <p>Bài viết F</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
              </div>

               <div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>C</strong></h3>
            <p>Bài viết C</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
        </div>

         <div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>C</strong></h3>
            <p>Bài viết C</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
        </div>

         <div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>C</strong></h3>
            <p>Bài viết C</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
        </div>

    		</div>
    		</div>
    		</div>
    			
   
   <div class="col-md-offset-6">
<ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul> 
 </div>
       
      </div>

      <!--Footer-->
      <div class = "form-group col-md-offset-4" >
        <p style="color: red">Blog 3T group @ Copyright by Tran Quang Tin, Nguyen Minh Tu, Pham Ngoc Thien </p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">  
    </script>
  </body>
</html>