
<!--Nội dung-->
      <!--Button tao tin nhắn-->

   <div class="contanier">
   <div class="row">
       {{# each ListBlog}}
    {{# if this.Title}}
   <div class="col-md-3">
      <div class="thumbnail" style="height: 150px;width: 270px">
       <img src="img/1.jpg" style="width:250px; height: 80px">
        <div class="caption">
          <h3 ><a href="/Blog/{{this._id}}" class="btn btn-link"><strong>{{this.Title}}</strong></a></h3>
          <p style="display:inline"><span class="glyphicon glyphicon-eye-open"></span> 3</p>
          <p style="display:inline"><span class="glyphicon glyphicon-comment"></span> 8</p>
        </div>
      </div>
   </div>
    {{/if}}
    {{/each}}
  </div>
  </div>


<button id = 'LoadBlog' class ='btn btn-primary'> </button>

      
