<!--Nội dung-->
      <!--Button tao tin nhắn-->
    {{# each ListBlog}}
      {{# if this.Title}}
    	<div class="col-md-3">
      <div class="thumbnail" style="height: 150;width: 270px">
        <div class="caption">
          <h3 style="color: red;background: #FFFF00"><strong>{{this.Title}}</strong></h3>
          <p>Người viết: {{this.Poster}}</p>
			    <p><a href="BlogA" class="btn btn-link" role="button">Xem tiếp</a> </p>
          </div>
        </div>
      </div>
      {{/if}}
    {{/each}}

      
    			
   
  <div class="col-md-offset-6">
    <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
    </ul> 
  </div>
       

    