 	 <h1 style=" color:    Yellow; font-size: 40px; text-align: center"><i><strong>Các bài Blog<strong></strong></i></h1>
  <div class="col-sm-3">
      <div class="thumbnail" style="height: 150;width: 270px">
        <img src="/img/2.jpg" style="height: 100px;">
        <div class="caption">
          <h3 style="color: red;background: #FFFF00"><strong>A</strong></h3>
          <p>Bài viết A</p>
			<p><a href="BlogA" class="btn btn-link" role="button">Xem tiếp</a> </p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/3.jpg"  style="height: 100px;">
          <div class="caption">
            <h3 style="color: blue;background: #FFFF00"><strong>B</strong></h3>
            <p>Bài viết B</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>C</strong></h3>
            <p>Bài viết C</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
        </div>



    	<div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>D</strong></h3>
            <p>Bài viết D</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
              </div>

<div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>E</strong></h3>
            <p>Bài viết E</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
              </div>

              <div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>F</strong></h3>
            <p>Bài viết F</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
              </div>

               <div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>C</strong></h3>
            <p>Bài viết C</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
        </div>

         <div class="col-md-3">
        <div class="thumbnail" style="height: 150;width: 270px">
          <img src="img/4.jpg" style="height: 100px;">
          <div class="caption">
            <h3 style="color: green;background: #FFFF00"><strong>C</strong></h3>
            <p>Bài viết C</p>
		<p><a href="#" class="btn btn-link" role="button">Xem tiếp</a> </p>
            </div>
          </div>
        </div>

    		</div>
    		</div>
    		</div>
    			
   
   <div class="col-md-offset-5">
<ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul> 
 </div>
</div>