

      <!--Hình lớn-->
      <div class="container">
       <div class="row">
        <div class="col-md-5">
           <legend><h3 class="text-center" style="color: #FFFF00"><strong><span class="glyphicon glyphicon-user"></span> Đăng nhập</strong></h3></legend>
        <form action="/Login" method ="POST">
          <div class="form-group" style="background: #000080">
            <label for="" style="color:   #FFFF00; font-size: 15px">Tên đăng nhập</label></br>
            <input class="form-control" type="text" size="40" placeholder="Tên đăng nhập..." name ="txtUser"></input>
          </div>

          <div class="form-group" style="background: #000080">
            <label for="" style="color:   #FFFF00;font-size: 15px">Mật khẩu</label></br>
            <input class="form-control" type="password" size="40" placeholder="Nhập mật khẩu..." name ="txtPass"></input>
          </div>
          <a href ='/auth/facebook'>
            <button style="border: 0; background: transparent" type="button"> <img src="img\Facebook.gif" width="32" height="32"></button>
          </a>
          
          <button class="btn btn-primary"type="submit" style="width: 100px">Đăng nhập</button>
          <a href ='/SignUp'>
            <button class="btn btn-danger"type="button" style="width: 100px">Đăng kí</button>
          </a>
         </form>
         
          
        </div>
      </div>
</br>
      