

      <!--Hình lớn-->
      <div class="container">
       <div class="row">
         <div class="col-md-6 col-md-offset-3">
            <form action="/Login" method ="POST">
            <legend style="color:     #000080">Đăng nhập</legend>
            <div class="col-md-8 col-md-offset-2 form-group">
              <label for="" style="color:   #000080; font-size: 15px">Tên đăng nhập</label></br>
              <input class="form-control" type="text" size="40" placeholder="Email..." name ="txtEmail"></input>
            
              <label for="" style="color:   #000080;font-size: 15px">Mật khẩu</label></br>
              <input class="form-control" type="password" size="40" placeholder="Nhập mật khẩu..." name ="txtPass"></input>
            </div>

            <div class="col-md-10">
            <a href ='/SignUp'>
              <button class="btn btn-danger pull-right"type="button" style="width: 100px">Đăng kí<span class="glyphicon glyphicon-chevron-right"></span></button>
            </a>
             <button class="btn btn-primary pull-right" type="submit" style="width: 100px">Đăng nhập</button>
                  
            <a href ='/auth/facebook'>
              <button class="btn btn-link pull-right" type="button" ><img src="img\Facebook.gif" style="height: : 80px"> Facebook</button>
              </a>
                 </div>
          </form>
          </div>

