
      <!--Hình lớn-->
      <div class="container">
       <div class="row">
        <div class="col-md-5">
           <legend><h3 class="text-center" style="color:    #FFFF00"><strong>Xác nhận đăng nhập</strong></h3></legend>
        <form action="/Login" method ="POST">
          <div class="form-group" style="background: #000080">
            <label for="" style="color:   #FFFF00; font-size: 15px">Email</label></br>
            <input class="form-control" type="text" size="40" placeholder="Email..." name ="txtUser"></input>
          </div>

          <div class="form-group" style="background: #000080">
            <label for="" style="color:   #FFFF00;font-size: 15px">Mật khẩu</label></br>
            <input class="form-control" type="password" size="40" placeholder="Nhập mật khẩu..." name ="txtPass"></input>
          </div>

            <div class="form-group" style="background: #000080">
            <label for="" style="color:   #FFFF00;font-size: 15px">Xác nhận mật khẩu</label></br>
            <input class="form-control" type="password" size="40" placeholder="Nhập mật khẩu..." name ="txtPass"></input>
          </div>
          
          <button class="btn btn-primary"type="submit" style="width: 100px">Đăng nhập</button>
          <a href ='/SignUp'>
            <button class="btn btn-danger"type="button" style="width: 100px">Đăng kí</button>
          </a>
         </form>
         
          
        </div>
      </div>
    </div></br>