 <h1 style=" color:    Yellow; font-size: 40px; text-align: center"><i><strong>Viết Blog<strong></strong></i></h1>
<!--Table-->
    <div class="container">
       <div class="row">
        <div class="col-sm-4">
        <div class="thumbnail" style="height: 450px; width: 340px">
          <div class="caption">
            <h3 class="text-center" style="color: blue;background: #FFFF00"><strong>Trần Quang Tín</strong></h3>
            <ul>
              <li><p>Tuổi: 21</p></li>
              <li><p>Số bài đăng: 3</p></li>
              <li><p>Điểm tích luỹ: 108</p></li>
            </ul>
          </div>
        </div>
      </div>
             
        <div class="col-sm-8">
          <textarea cols="30" rows="25" style="width: 100%"></textarea>
          <button type="button" class="btn btn-warning" style="width: 150px; font-size: 15px;color: red;">Viết bài <span class="glyphicon glyphicon-pencil"></span> </button>
        </div>
 </div></br>
