 
<!--Table-->
    <div class="container">
       <div class="row">
       <div class="col-md-12">
         <label style="color:#000080">Nhập tiêu đề:</label></strong>
           <input class ="form-control" type="text" placeholder="Nhập tiêu đề..." tabindex="1" name ="txtUser">  
           <legend></legend>
              <label style="color:#000080">Viết Blog:</label></strong>
          <textarea cols="30" rows="25" style="width: 100%" placeholder="  Viết blog..." tabindex="2"></textarea>
          <button type="button" class="btn btn-warning pull-right" style="width: 150px; font-size: 15px;color: red" >Đăng bài <span class="glyphicon glyphicon-pencil"></span> </button>
        </div>
 </div></br>
